/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fef3e3; /* Fondo beige cálido */
    color: #5a3e36; /* Marrón cálido */
}

header {
    width: 100%;
    background-color: #d98106; /* Naranja cálido */
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f08502; /* Amarillo cálido */
}

/* Sección del contenido */
main {
    padding: 20px;
    text-align: center;
}

.seccion {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para los productos */
.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    width: 30%;
    padding: 10px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

/* Estilos para la galería */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.gallery-image {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

footer {
    background-color: #d96c06;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

